body{
    font-family: 'Roboto Mono', monospace;
    background-color: #372e4b;
}
button{
    cursor: pointer;
    border-radius: 53px;
    background: #f3c9f0;
    box-shadow:  2px 2px 15px #457dbd,
                -2px -2px 15px #457dbd;
    background-color: #efc988;
    padding: 15px 32px;
    text-align: center;
    font-size: 32px;
    border-radius: 40px;
    border: none;
}

button:hover{
    transform: scale(110%);
    transition-duration: 0.5s;

}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 22.5%;
}

